
@media(max-width:991px){

.container{
    width:90%;
}

.hero-content,
.hero-images,
.organic-image,
.organic-content,
.healthy-content,
.healthy-image{
    width:100%;
}

.hero-images{
    margin-top:40px;
}

.card{
    width:48%;
    margin-bottom:25px;
}

.feature{
    width:48%;
    margin-bottom:25px;
}

.section-title p{
    width:100%;
}

}



@media(max-width:767px){

.navbar{
    flex-direction:column;
}

.nav-links{
    flex-direction:column;
    gap:15px;
    margin-top:20px;
    text-align:center;
}

.hero{
    text-align:center;
}

.hero-content h1{
    font-size:38px;
    line-height:50px;
}

.hero-images{
    flex-direction:column;
    align-items:center;
}

.hero-images img{
    width:90%;
    margin-bottom:20px;
}

.card,
.feature{
    width:100%;
}

.organic,
.healthy{
    text-align:center;
}

.organic-content,
.healthy-content{
    margin-top:30px;
}

.footer-links{
    flex-direction:column;
    text-align:center;
    margin:20px 0;
}

footer .container{
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align:center;
}

}


@media(max-width:575px){

.hero-content h1{
    font-size:30px;
    line-height:40px;
}

.section-title h2,
.organic-content h2,
.healthy-content h2{
    font-size:30px;
}

.btn{
    display:block;
    width:100%;
    text-align:center;
}

}